{{> _header}}

<section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>We Are </h1>
                    <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly
                        meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                    <a href="/login" class="btn btn-common">SIGN UP</a>
                </div>
                {{!-- <img src="img/home/slider/hill.png" class="slider-hill" alt="slider image">
                <img src="img/home/slider/house.png" class="slider-house" alt="slider image">
                <img src="img/home/slider/sun.png" class="slider-sun" alt="slider image">
                <img src="img/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                <img src="img/home/slider/birds2.png" class="slider-birds2" alt="slider image"> --}}
            </div>
        </div>
    </div>
</section>
<!--/#home-slider-->

<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="img/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball
                        pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip
                        steak.</P>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Experienced and Enthusiastic</h2>
                    <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball
                        pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip
                        steak.</P>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="img/home/image1.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#features-->